.btn {
    padding: 2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}

table > tbody > tr > td {
    border: none !important;
}

#opening_hours select {
    padding: 5px 10px !important;
}

.btn-success.add_hour {
    padding: 7px 15px 7px 15px;
}

/* Hide radio button */
.payment-method [type=radio]{
    position: absolute;
    opacity: 0; /* nieprzezroczystosc */
    width: 0;
    height: 0;
}

/* Image style */
.payment-method [type=radio] + img{
    /* wskaznik */
    cursor: pointer;
}

/* checked style */
.payment-method [type=radio]:checked + img{
    /* zarys */
    outline: 2px solid #ff0000;
    padding: 5px;
}